<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="270010001" android:versionName="1.0.1" package="com.zeemerix.WhatIf" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="27" />
	<supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="false" />
	<application android:label="What-If" android:icon="@mipmap/ic_launcher"></application>
</manifest>